 /* ==========================================================================
    Lovelo Black font
    ========================================================================== */

@font-face {
    font-family: 'loveloblack';
    src: url('../fonts/lovelo/lovelo_black.eot');
    src: url('../fonts/lovelo/lovelo_black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lovelo/lovelo_black.woff') format('woff'),
         url('../fonts/lovelo/lovelo_black.ttf') format('truetype'),
         url('../fonts/lovelo/lovelo_black.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}
 /* ==========================================================================
    IRANSans font
    @import url("css/fonts.css"); /* لینک فایلی که وظیفه بارگذاری فونت ها را برعهده دارد 
    ========================================================================== */

@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url('fonts/IRANSans/IRANSans-Bold-web.woff') format('woff');  /* All Major Browsers */
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/IRANSans/IRANSans-Bold-web.eot');
    src: url('../fonts/IRANSans/IRANSans-Bold-web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IRANSans/IRANSans-Bold-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('../fonts/IRANSans/IRANSans-Bold-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IRANSans/IRANSans-Bold-web.ttf') format('truetype');
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/IRANSans/IRANSans-Medium-web.eot');
    src: url('../fonts/IRANSans/IRANSans-Medium-web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IRANSans/IRANSans-Medium-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('../fonts/IRANSans/IRANSans-Medium-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IRANSans/IRANSans-Medium-web.ttf') format('truetype');
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/IRANSans/IRANSans-Light-web.eot');
    src: url('../fonts/IRANSans/IRANSans-Light-web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IRANSans/IRANSans-Light-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('../fonts/IRANSans/IRANSans-Light-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IRANSans/IRANSans-Light-web.ttf') format('truetype');
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/IRANSans/IRANSans-UltraLight-web.eot');
    src: url('../fonts/IRANSans/IRANSans-UltraLight-web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IRANSans/IRANSans-UltraLight-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('../fonts/IRANSans/IRANSans-UltraLight-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IRANSans/IRANSans-UltraLight-web.ttf') format('truetype');
}
@font-face {
    font-family: 'IRANSans';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/IRANSans/IRANSans-web.eot');
    src: url('../fonts/IRANSans/IRANSans-web.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
         url('../fonts/IRANSans/IRANSans-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
         url('../fonts/IRANSans/IRANSans-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
         url('../fonts/IRANSans/IRANSans-web.ttf') format('truetype');
}


/* ==========================================================================
   Open sans
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

